[package]
name = "rsmpeg"
version = "0.12.0+ffmpeg.5.1"
authors = ["liudingming <liudingming@bytedance.com>"]
edition = "2021"
license = "MIT"
description = "A Rust crate that exposes FFmpeg's power as much as possible."
keywords = ["ffmpeg", "ffi", "binding", "audio", "video"]
homepage = "https://github.com/larksuite/rsmpeg"
documentation = "https://docs.rs/rsmpeg"
repository = "https://github.com/larksuite/rsmpeg"
readme = "README.md"
exclude = ["tests/*", "examples/*", "utils/*"]
rust-version = "1.64.0"

[dependencies]
rusty_ffmpeg = "0.10"
libc = "0.2"
paste = "1.0"
thiserror = "1.0"

[dev-dependencies]
anyhow = "1.0.57"
gl = "0.14.0"
cstr = "0.2.11"
once_cell = "1.12.0"
tempdir = "0.3.7"
