[package]
name = "rsmpeg"
version = "0.2.0"
authors = ["liudingming <liudingming@bytedance.com>"]
edition = "2018"
license = "MIT"
description = "A Rust crate that exposes FFmpeg's power as much as possible."
keywords = ["ffmpeg", "ffi", "binding", "audio", "video"]
homepage = "https://github.com/larksuite/rsmpeg"
documentation = "https://docs.rs/rsmpeg"
repository = "https://github.com/larksuite/rsmpeg"
readme = "README.md"
exclude = ["tests/*", "examples/*", "utils/*"]

[dependencies]
rusty_ffmpeg = "0.6"
libc = "0.2"
paste = "1.0"
thiserror = "1.0"

[dev-dependencies]
env_logger = "0.8"
log = "0.4"
anyhow = "1.0"
glfw = "0.41"
gl = "0.14"
cstr = "0.2.8"
once_cell = "1.7.2"
